@use "_variables.scss" as *;

* {
  background-color: $color-primary;
  color: white;
  font-family: $font-main, sans-serif;
}

.buttons {
  :hover {
    cursor: pointer;
  }
  :active {
    box-shadow: 0 1.5px rgb(255, 255, 255);
    transform: translateY(0.5px);
  }
}

button {
  background-color: $color-button;
  font-size: 2rem;
  border-radius: 25%;
}

.greyBut {
  background-color: $color-lightgray;
  color: black;
  :hover {
    cursor: pointer;
  }
}

.orangeBut {
  background-color: $color-orangebut;
  :hover {
    cursor: pointer;
  }
}

.holding {
  border: 2px green solid;
}
.display {
  border: 2px red solid;
}
